.header
{
    background-image: url(img/top-img.png);
    background-position: center 58px;
    background-repeat: no-repeat;
    top: 32px;
    left: 639px; 
    widows: 1280px;;
    height: 790px; 
    width: 1280px;
}
.h1
{
    color: #16a085;
    font-size: 18px;
    font-weight: 900;
    text-align: left;
    font-family: roboto, sans-serif;
    font-style: normal;
    font-weight: 900;
    margin-top: 26px;
    margin-left: 332px;
    height: 0px;
    width: 56px;
}
.h2
{
    color: #16a085;
    text-align: left;
    font-size: 18px;
    font-weight: 900;
    font-family: roboto, sans-serif;
    font-style: normal;
    font-weight: 900;
    margin-top: 0px;
    margin-left: 456px;
    height: 0px;
    width: 113px;
}
.h3
{
    color: #16a085;
    font-size: 18px;
    font-weight: 900;
    text-align: left;
    font-family: roboto, sans-serif;
    font-style: normal;
    font-weight: 900;
    margin-top: 0px;
    margin-left: 639px;
    height: 0px;
    width: 76px;   
}
.h4
{
    color: #16a085;
    font-size: 18px;
    font-weight: 900;
    text-align: left;
    font-family: roboto, sans-serif;
    font-style: normal;
    font-weight: 900;
    margin-top: 0px;
    margin-left: 793px;
    height: 0px;
    width: 116px;  
}
.titletext
{
background-color: white;
font-family: roboto, sans-serif;
font-style: normal;
font-weight: 900;
font-size: 22px;
color: #373737; 
text-align: left;
margin-top: 47px;
margin-left: 331px;
}
.text
{
    font-family: roboto, sans-serif;
    font-size: 16px;
    font-weight: 900;
    color:  #373737;
    line-height: 26px;
    text-align: center;
    margin-top: 42px;
    margin-left: 150px;
    margin-right: 200px;
}
p
{
    margin-top: 0em; 
    margin-bottom: 0em; 
}
.button
{
    margin-top: 40px;
    margin-left:525px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 3px;
    background-color:  #16a085;
    width: 192px;
    height: 51px;

}
.text-button
{

    font-family: GothamRounded, sans-serif;
    color:  #ffffff;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    padding-top: 15px;
}
.footer
{
font-family: Roboto, sans-serif;
color: #373737;
font-size: 16px; 
font-weight: 700;
text-align: left;
margin-top: 175px;
margin-left: 805px;
height: 16px;
width: 408px;
}

